ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

li a {
    font-family: arial, sans-serif;
    font-size: 13px;
    display: block;
    padding: 8px;
    text-decoration: none;
    color: black;
    opacity: 0.75;
}

li a:hover {
    text-decoration: underline;
}

input {
    border-radius: 20px;
    border-width: 1px;
    width: 500px;
    height: 40px;
}

input:hover {
    border-width: 2px;
}

.pull-left {
    float: left;
}

.pull-right {
    float:right;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 35px;
    width: 100%;
    background-color: #eee;
}

.search-box {
    text-align: center;
    padding-top: 15%;
}

.search-buttons {
    text-align: center;
    padding-top: 20px;
}

.search-box img {    
    height: 92px;
    width: 272px;
    padding-bottom: 10px;
}

.blue-button {
    background-color: #008CBA;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.grey-button {
    margin: 1px;
    background-color: #eee;
    border: none;
    border-radius: 4px;
    color: #5F6368;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.grey-button:hover {
    margin: 0px;
    border: 1px solid black;
    color: #000000;
}